@-moz-document domain("linux.org.ru"){
	body {background-color: #ffffff !important;}
	body  {font-family:"Arial", sans-serif;color:#000000!important;}
	a{color:#e50078!important;}
	a:visited{color:#892890!important;}
	
	#bd .forum table tbody td a{text-decoration:none;color:#e50078!important;}
	#bd .forum table tbody td a:visited{color:#892890!important;}
	#bd .forum table thead{background-color:#FFFFFF;color:#000000!important;}
	#bd .forum table thead a{color:#e50078!important;}
	#bd .forum table tbody tr:hover{background-color:#ffffff!important;}

	#bd header h1 a{color:#e50078!important;}
	#bd header h1 a:visited{color:#892890!important;}
	#bd header a:visited{color:#e50078}

	#bd a:visited{color:#e50078!important;}
	#bd a.navLink:visited{color:#e50078!important;}
	#bd .nav li a{border-color:#d4d4d4;background-color:#ffffff;color:#e50078;!important;}
	#bd .nav li a:visited{color:#892890!important;!important;}

	#bd .sign a{color:#e50078!important;}
	#bd .sign a:visited{color:#e50078!important;}
	.boxlet{background-color:#ffffff!important;}
	
	.code{background-color:#ffffff!important;}
	.fav-buttons a{color:#babdb6!important;}
	.msg h1 a{color:#e50078!important;}
	.msg{background:#ffffff}
}