@-moz-document domain("linux.org.ru"){
	html, body {background-color: #ffffff !important;}
	body {color:#000000!important;}
	a{color:#e50078!important;}
	a:visited{color:#892890!important;}

	#hd h1{color:#e50078 !important;}
	#hd .menu .primary a{color:#e50078 !important;}
	#hd .menu .secondary a{color:#e50078 !important;}
	#bd h2 *{color:#e50078 !important;}
	
	#bd .forum table tbody td a{text-decoration:none;color:#e50078!important;}
	#bd .forum table tbody td a:visited{color:#892890!important;}
	#bd .forum table thead{background-color:#FFFFFF;color:#000000!important;}
	#bd .forum table thead a{color:#e50078!important;}
	#bd .forum table tbody tr:hover{background-color:#facbdb!important;}

	#bd header h1 a{color:#e50078!important;}
	#bd header h1 a:visited{color:#892890!important;}
	#bd header a:visited{color:#e50078}
	#whois_userpic {border-radius: 1em; padding: 1em;background: #facbdb;}

	#bd a:visited{color:#e50078!important;}
	#bd a.navLink:visited{color:#e50078!important;}
	#bd .nav li a{border-color:#d4d4d4;background-color:#ffffff;color:#e50078;!important;}
	#bd .nav li a:visited{color:#892890!important;!important;}

	#bd .sign a{color:#ff9fcf!important;}
	#bd .sign a:visited{color:#ff9fcf!important;}

	.message-table .tag {background-color: #ff9fcf;}
	.boxlet{background-color:#ffffff!important;}
	.infoblock{background-color:#ffffff}
	.code{background-color:#ffffff!important;}
	.fav-buttons a{color:#babdb6!important;}
	.messages .msg{background:#ffffff !important;}
	.page-number {background-color: #ffffff;}
	div.quote{margin:0;border:0 solid #ff9fcf;border-left-width:5px;padding:0 0.5em 0}
}